*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}


.navbar-link {
    color: #FFFFFF;
}

.navbar-link:hover {
    color: #ffce00;
}
.navbar-custom {
    background-color: #DF744A;
}

.nav-link {
    color:#fff;
}

.nav-logo {
    width: 100px; 
    height: 50px; 
    margin: 0; 
    padding: 0;
}

.logo {
    width: 400px; 
    height: 300px; 
    margin: 0; 
    padding: 0;
    width: 50%; 
    height: auto;

}

.logo-footer{
    width: 50px; 
    height: 20px; 
    margin: 0; 
    padding: 0;
}

.vi-logo{
    padding-left: 15%;
}

a {
  color: #fff;
}

a:hover {
  color: #ffce00;
}

.bg-img {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images/IMG_6901.jpg');
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color:#fff;
    font-size: 150px;
    font-family: 'Amatic SC', cursive;

}

.button {
    border: 1px solid #FEDCD2;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about-section {
    background-color: #FEDCD2;
    padding-top: 100px;
    padding-bottom: 130px;

}

.about-img {
    border-radius: 50%;
    height: auto;
    max-width: 240px; 
}

.skills {
    background-color: #BFD8D2;
    padding-bottom: 130px;
    padding-top: 100px;
    padding-left: 10%;

}

.main-heading {
    padding-bottom: 40px;
    padding-left: 27%;
    display: inline-block;
    line-height: 0.85;
    text-shadow:
        2px 2px white,
        2px -2px white,
        -2px 2px white,
        -2px -2px white;
}

.main-heading-hello {
    padding-bottom: 40px;
    padding-left: 40%;
    display: inline-block;
    line-height: 0.85;
    text-shadow:
        2px 2px white,
        2px -2px white,
        -2px 2px white,
        -2px -2px white;
}

.main-heading-project {
    padding-bottom: 40px;
    padding-left: 32%;
    display: inline-block;
    line-height: 0.85;
    text-shadow:
        2px 2px white,
        2px -2px white,
        -2px 2px white,
        -2px -2px white;
}

.row .col-4 ul li {
    list-style-type: none;
    margin: 0;
    padding: 5;
}

.skill-header {
    color: #DF744A;
    text-align: center;
    padding-right: 50px;
}

.space {
    padding-left: 10px;
}

.experience {
    background-color: #FEDCD2;
    padding-bottom: 130px;
    padding-top: 100px;
    padding-left: 20%;
}

.projects {
    background-color: #BFD8D2;
    padding-bottom: 130px;
    padding-top: 100px;
    padding-left: 20%;
}

.contact {
    background-color: #FEDCD2;
    padding-bottom: 130px;
    padding-top: 100px;
    padding-left: 20%;
}

.app_gif {
    width: 841px; 
    height: 521px;
    padding: 60px 0 20px;
    width: 85%; 
    height: auto;

}

.sub-intro {
    color: #fff;
}

.project-text {
    padding-left: 10%;
    font-size: 18px;
    font-weight: 200; 
    text-align: center;
    max-width: 680px; 
}

.view-code {
    border: 3px solid #DF744A;
    padding: 10px 20px;
    font-size: 16px;
    color: #DF744A;

}

.view-code:hover{
    background: #F44336;
    color: #ffffff; 
}

.email {
    color: #000;
}

.phone {
    color: #000;
}

footer {
    background-color: #363b3f;
    text-align: center; 
    letter-spacing: 1px;
 }

.contact-methods li {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px; 
    padding-left: 65px; 
    padding-right: 5px;
}

.contact-text {
    padding-left: 7%;  

}

.footer-social-icons li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px; 
    padding-right: 5px
}

.created {
    color: #fff;
    font-size: 10px;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

section#timeline {
  width: 90%;
  margin: 20px auto;
  position: relative;
  left: -10%;

}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 4px;
  height: 100%;
  background: #DF744A;
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #363b3f;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
/*section#timeline article div.inner span.date span.day {
  font-size: 10px;
}*/
section#timeline article div.inner span.date span.year {
  font-size: 16px;
}
/*section#timeline article div.inner span.date span.year {
  font-size: 10px;
}*/
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px; 
      height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}

